streamlit
yfinance
groq
openai
pandas
matplotlib
fastapi[standard]
rapidfuzz
dotenv
sentence-transformers
faiss-cpu
openpyxl
langchain
langchain_community
transformers
torch
scikit-learn
accelerate
bitsandbytes
huggingface-hub
datasets
tqdm
nltk
spacy
peft
llama-index
pydantic
uvicorn
httpx